---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MobileMenu from '../components/MobileMenu.astro';
import Hero from '../components/Hero.astro';
import ProductGrid from '../components/ProductGrid.astro';
import Craft from '../components/Craft.astro';
import Testimonials from '../components/Testimonials.astro';
import InstagramFeed from '../components/InstagramFeed.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
import ProductModal from '../components/ProductModal.astro';
import CursorFollower from '../components/CursorFollower.astro';
import showcase from '../pages/showcase.astro'
---

<Layout title="MU CURVE">
  <CursorFollower />
  <div data-scroll-container>
    <Header />
    <MobileMenu />
    <Hero />
    <ProductGrid />
    <Craft />
    <Testimonials />
    <InstagramFeed />
    <ContactSection />
    <Footer />
    <ProductModal />
    <showcase />
  </div>
</Layout>